<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="1000" value="http://172.16.42.134:1000/nuget" />
    <add key="8000" value="http://172.16.42.134:8000/nuget" />
    <add key="8001" value="http://172.16.42.134:8001/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <disabledPackageSources>
    <add key="MyLocalNuget Package source" value="true" />
    <add key="nuget.org" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <activePackageSource>
     <add key="1000" value="http://172.16.42.134:1000/nuget" />
    <add key="8000" value="http://172.16.42.134:8000/nuget" />
    <add key="8001" value="http://172.16.42.134:8001/nuget" />
  </activePackageSource>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>